.users_container{
    padding: 0 10px;
}
.users_title{
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.users_list{
    margin-bottom: 20px;
}

.more_users{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.show_more_btn{
    display: inline-block;
    max-width: 180px;
    width: 100%;
    background-color: rgb(34, 165, 34);
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid rgb(34, 165, 34);
    transition: .2s ease-in-out;
    padding: 10px 15px;
}
.show_more_btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgb(34, 165, 34);
    border: 2px solid rgb(34, 165, 34);
}