.logoBtn{
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
}
.logo{
    width: 50px;
    height: 50px;
}
.loginBtn{
    vertical-align: top;
    margin-left: 10px;
    display: inline-block;
}
.loginLink{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.name_user{
    color: yellow;
    font-weight: bold;
    line-height: 1.2;
    font-size: 18px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.name_user:hover{
    text-shadow: 0 0 5px black;
}