.user-page{
    grid-area: user_part;
}
.background-user{
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.background-user img{
    position: absolute;
    width: 100%;
}
.user-info{
    display: flex;
    margin-bottom: 10px;;
}
.user-posts{
    max-width: 80%;
}
.user-pic-block{
    display: inline;
}
.user-pic{
    width: 160px;
}
.user-describe{
    display: inline;
    padding: 10px;
}
.user-describe div{
    display: block;
}
.user-name{
    font-size: 22px;
}
.name-block{
    font-size: 22px;
    margin-bottom: 10px;
}
.user-add-post{
    width: 100%;
    margin-bottom: 10px;
}
.user-curent-news{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(190, 190, 190);
    border: 2px solid white;
    height: 50px;
}
.user-curent-news:focus{
    outline: none !important;
    background-color: #fff;
    border: 2px solid rgb(34, 165, 34);
}
.send-news{
    display: block;
    margin-left: auto;
    width: 100px;
    padding: 5px;
    background-color: rgb(34, 165, 34);
    border: 0;
    color: white;
    font-weight: 500;
    border: 2px solid rgb(34, 165, 34);
    transition: .2s ease-in-out;
}
.send-news:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgb(34, 165, 34);
    border: 2px solid rgb(34, 165, 34);
}
.user-news-done{
    width: 100%;
    padding: 10px;
}
.user-news-item{
    display: flex;
}
.user-news-pic{
    width: 50px;
    margin-right: 15px;
}
.user-news-text{
    width: 70%;
}
.user-news-date{
    width: 30%;
    text-align: right;
}